@charset "utf-8";

#content {width: 100%;}
#vs {width: 100%; height: auto; overflow-x: hidden; position: relative; }
.banBox {width: 200%; height: auto;transition: 0.6s;}
.banBox li {float:left; width: 50%;}
.banBox li img { display: block; width: 100%; height: auto;} /*height: 968px*/
.banBox .ban_title {position: absolute; top: 30%; left: 10%; font-size: 8em; font-weight: bold; font-family: 'Archivo Black', sans-serif; letter-spacing: 2px; color:rgba(255,255,255,0.8);}
.banBox .ban_coment {position: absolute; top: 48%; left: 10%; font-size: 1.5em; font-weight: bold; font-family: 'hangultuelgothic', sans-serif; text-indent: 10px; letter-spacing: 2px; color:rgba(255,255,255,0.9); text-shadow: 1px 2px 10px #747474;}
.banBox .ban_more {display: block; position: absolute; top: 53%; left: 11%; width: 250px; height: 50px; line-height: 50px; border: 1px solid #fff; border-radius: 40px; text-align: center; color: #fff;}
.banBox .ban_more:hover {background: #fff; color: #52929e;}

#ra1:checked ~ .banBox { margin-left: 0;}
#ra2:checked ~ .banBox { margin-left: -100%;}

.btnBox { position: absolute; width: 100%; top: 93%;}
.btnBox li:first-child { left: 48%;}
.btnBox li:last-child { right: 47%; }
.btnBox li {position: absolute;}
.btnBox li .vsbtn { display: block; width: 22px; height: 22px; background: #ffffff; border-radius: 13px; cursor: pointer;}

#ra1, #ra2 {display: none;}
#ra1:checked ~ .btnBox li:first-child .vsbtn {width: 45px; background: #00b09b;}
#ra2:checked ~ .btnBox li:last-child .vsbtn {width: 45px; background: #00b09b;}

.page { width: 100%;}
#page1 {height: 600px;overflow-x: hidden;}
.page_side {width: 28%; float: left; background-color: #ffd928; height: 450px; padding: 60px; box-sizing: border-box; padding-top: 120px; padding-left: 110px;}
.pageTitle { color: #000; font-size: 60px; }
.pageComent {color: #333; padding-top: 40px; line-height: 1.5; font-size: 0.9em; text-indent: 5px;}
.detail {display: block; width: 220px; height: 40px; line-height: 40px; border: 1px solid #fff; text-align: center; color: #fff; margin-top: 40px;border-radius: 20px;position: relative; overflow: hidden;}
/*.detail:hover {background-color: #182659;}*/
.detail span {display: block; position: absolute; top: 0;left: 0; text-align: center; width: 100%;}
.detail .hvTxt { width: 100%; height: 100%; background: #00b09b; top: 50px; transition: 0.6s;}
.detail:hover .hvTxt {top: 0;}

.banBox2 {width: 70%; float:right; overflow-x: hidden;}
.imgBox {width: 1680px;height: 600px; clear: both;}
.imgBox li {width: 400px; height: 250px; float: left; margin: 10px; margin-top: 35px;}
.banBox2 .num {font-size: 1.2em; line-height: 2; color: #c8c8c8; font-weight: bold;}
.banBox2 .banTitle {font-size: 1.8em; line-height: 50px; color: #333;}
.banBox2 .imgBox img {display: block; width: 400px;height: 250px; padding-top: 20px; margin-top: 20px;}
#page2 {height: 550px; }
#page2 .pageTitle {color: #333; text-align: center; font-size: 36px; line-height:100px; letter-spacing: 5px;}
#page2 .pageTitle .txt1 { color:#add21b;}
#page2 .pageComent { color: #444; text-align: center; padding-top: 10px;}
.lst {width: 100%;padding-top: 50px;}
.lst li {float: left; width: 25%; position: relative;height: 280px;}
.lst li a { display: block; width: 100%; position: relative;height: 240px;}
.lst li a img {display: block; width: 180px; height: 180px; margin: 0 auto; margin-top: 20px; transition: 0.6s; border-radius: 150px; overflow:hidden;}
.lst li a:hover img { width: 220px; height: 220px; margin-top: 0; box-shadow: 0px 8px 25px #ccc;}
.lst li .itemTitle { display: block; width: 100%; text-align: center; line-height: 40px; position: absolute; bottom: 0;left: 0;}
.lst li:hover .itemTitle {color: #add21b;}

#page3 { background-color: #f0f0f0; height: 900px;}
#page3 .wrap {position: relative; }
#page3 li {margin-top: 50px;}
#page3 .box {box-sizing: border-box; padding: 50px; background: #fff; width: 550px; display: block;}
#page3 .item1 .box {width: 640px;height: 400px;box-shadow: 0px 0px 30px #ccc; margin-top: 50px; }

#page3 .item3 .box {float: right;}
#page3 .item1 .abs {position: absolute; right: 0; top: 30px;margin-top: 10px;}
.nTitle { color: #add21b; font-size: 12px;font-weight: 900; letter-spacing: 2px}
.item1 .nTitle { color: #ffd928;}
.pTitle {overflow: hidden; padding: 20px 0px; text-overflow: ellipsis; white-space: nowrap; color:#333;}
.nDate { color: #666; font-size: 14px; font-weight: 600; padding: 10px 0px;}
.item1 .nDate { color: #666; font-size: 14px; font-weight: 600; padding: 10px 0px; margin-top: 15%;}
.pContent { text-overflow: ellipsis; white-space: nowrap; line-height: 1.2; height: 2.4em;color: #666; overflow: hidden; padding-bottom: 60px;}
#page3 .item2:hover .box, #page3 .item3:hover .box {background: #ffd928; color: #fff; }
#page3 .item2:hover .nTitle, #page3 .item3:hover .nTitle {color: #fff;}
#page3 .item2:hover .pTitle, #page3 .item3:hover .pTitle {color: #fff;}
#page3 .item2:hover .nDate, #page3 .item3:hover .nDate {color: #fff;}


#page4 { background: #fff;}
#page4 li {padding: 50px 0px; }
#page4 li a {display: block; height: 80px;color: #333; padding-left: 100px; background-position: left center; background-repeat: no-repeat; line-height: 40px;}
#page4 li a.item1 { background-image:url(../img/blog.png); }
#page4 li a.item1:hover {float: left; background-image: url("../img/iconblogarrow.png")}
#page4 li a.item2:hover {float: left; background-image: url("../img/iconfacebookarrow.png")}
#page4 li a.item3:hover {float: left; background-image: url("../img/iconyoutubearrow.png")}
#page4 li a.item2 { background-image:url(../img/facebook.png);}
#page4 li a.item3 { background-image:url(../img/youtube.png);}



