@charset "utf-8";

.videoWrap {width: 100%; height: 100%; overflow: hidden; box-sizing: border-box; }
.videoWrap video {display: block; width: 100%; min-height:100%; }

.page {position: relative; overflow: hidden; box-sizing: border-box;}  
.pageWrap {width: 1200px; margin: 0 auto; }
#page1 .pageWrap {position: absolute; top: 0; left: calc(50% - 600px);}
.titBox {clear: both;}
.pageTitle {clear: both; color: #ffffff; font-size: 55px; padding-top: 300px; line-height: 1.3;}
.pageComent {color: #ffffff; font-size: 16px;}

#searchForm {clear: both; padding-top: 40px;}
#keyword {border: 0; outline: 0; background: #ffffff; display: block; width: 600px; height: 60px; text-align: 30px; float: left; text-indent: 10px;}
.frmBtn {outline: 0; border: 0; display: block; width: 60px; height: 60px; background-color: #006ecd; background-repeat: no-repeat; background-position: center center; }
.searchBtn { background-image: url(./img/index/index_icon_01.png); background-size: 50% 50%;}

.thumBox {position: absolute; right: 290px; top: 230px; width: 200px; height: 600px;}
.thumBox li {clear: both; width: 200px; height: 200px; overflow: hidden;}
.thumBox li a {display: block; width: 200px; text-align: center;}
.thumBox li .offBox, .thumBox li .onBox {width: 200px; height: 200px; clear: both;}
.thumBox .onBox {display: none;}
.thumBox li:hover .onBox {display: block;}
.thumBox .offBox {display: block;}
.thumBox li:hover .offBox {display: none;} 
.thumBox li .offBox .txt1 {color: #ffffff;}

.thumBox li .offBox .txt1:before {content:""; display: block; width: 58px; height: 58px; clear: both; margin: 20px auto; background-position: center center; background-repeat: no-repeat; }

.thumBox li .offBox.item1 .txt1:before {background-image: url(./img/index/index_icon_02.png); }
.thumBox li .offBox.item2 .txt1:before {background-image: url(./img/index/index_icon_03.png); }
.thumBox li .offBox.item3 .txt1:before {background-image: url(./img/index/index_icon_04.png); }  

.thumBox li .offBox .txt1:after {background-image: url(./img/index/index_icon_05.png);content: ""; display: block; width: 28px; height: 28px; clear: both; margin: 20px auto; background-position: center center; background-repeat: no-repeat;}
.thumBox li .onBox {background-position: center center; background-repeat: repeat; background-size:  100% 100%; overflow: hidden;}
.thumBox li .item1 .onBox {background-image: url(./img/index/introicon01.png);}
.thumBox li .item2 .onBox {background-image: url(./img/index/introicon02.png);}
.thumBox li .item3 .onBox {background-image: url(./img/index/hirebutton.png);}

.more {display: block; width: 200px; height: 60px; text-align: center;  line-height: 60px; border: 1px solid #ffffff; color: #ffffff; margin-top: 20px; border-radius: 40px; transition: 0.5s; }
.more:after {content:""; display: inline-block; width: 30px; height: 8px; background-image: url(./img/index/cursoricon_01.png); }
.more:hover {background-color: #353e43; }

#page2 {background-image: url(./img/index/index_vsimg_02.jpg); background-size:125% 125%; opacity: 0.8; transition: 1s; transition-delay: 0.2s; }
#page3 {background-image: url(./img/index/index_vsimg_05.jpg); background-size:125% 125%; opacity: 0.8; transition: 1s; transition-delay: 0.2s; }
#page2:hover, #page3:hover {background-size: 100% 100%; opacity: 1;}


.comentBox {width: 600px; height: 150px; text-indent: 10px; background-color: #bbb;margin-top: 50px; border-radius: 0 0 50px 0;}
/*
.comentBox .num {display: block; color: #1a1a1a; font-size: 20px; text-indent: 10px; padding-top: 15px; }
.comentBox em {padding: 0 15px; color: #1a1a1a; font-weight: normal; font-style: normal; font-size: 15px;}
*/
.slide_control {position:relative; left: 5%; top: 20px; width: 14.5%; height: 10%; z-index: 20; text-align: center; }
.slide_control li {display: inline-block;}
.slide_num {position: absolute; left: 0; font-size: 1.3em; font-weight: bold; text-align: left; visibility: hidden; opacity: 0; transition: 1.2s;}
.slide_num.on {visibility: visible; opacity: 1;}
.slide_control em {padding: 0 8px; color: #1a1a1a; font-weight: normal; font-style: normal; font-size: 20px;}
.slide_all_index {position: absolute; font-size: 1.3em; font-weight: bold; font-weight: normal; color: #000; visibility: visible; opacity: 1;}

.comentBox .coment {padding: 20px; color: #000; padding-top: 10px; }

#page4 {padding-top: 20px; padding-bottom: 50px; background-color:rgba(230, 230, 230, 0.8); }
#page4 .titBox { position: relative; clear: both; height: 280px;}

.col3 {display: block; float: left; width: 285px; margin-right: 20px; box-sizing: border-box;}
.col3.first {clear: both;}
.col3.last {margin-right: 0;}
.col6 {width: 590px; margin-right: 20px; float: left;}

#page4 .pageTitle { color: #1a1a1a; }
#page4 .pageComent { color: #1a1a1a;}
.pageTitle2 { font-size: 55px;}
.row {clear: both; margin: 0; padding: 0;}
.row.one .col3, .row.one .col6 {height: 280px;}
.row a {color: #1a1a1a;}
.row .wtxt {color: #ffffff;}
.row.one {height: 320px; margin-top: 30px; margin-bottom: 0; padding-top: 80px; }
.row.two {height: 225px; margin-bottom: 20px;}

.curBox { height: 280px; width: 590px; overflow: hidden; background-image: url("./img/index/index_socialimg_01.jpg"); background-repeat: no-repeat; background-size: 100% auto; position: relative;}
.curBox a {display: block; padding: 35px;}
.hvBox, .hvBox2, .hvBox3 {display: block; padding: 35px; position: relative;}
.notiBox1, notiBox2, notiBox3 {position: relative;}
.curTit {font-size: 28px; line-height: 60px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notiTit {overflow: hidden; white-space: normal; line-height: 1.2;height: 3.6em; word-wrap: break-word; text-overflow: ellipsis; line-clamp:3; -webkit-line-clamp:3; box-orient:vertical; -webkit-box-orient:vertical;display: -webkit-box; }
.date {position: absolute; bottom:10px; left: 35px;}
.notiBox1 {height: 280px; border-radius: 0px; background-color: #006ecd;}
.notiBox2 {height: 158px; border-radius: 0px; background-color:#5c9cd3; }
.notiBox3 {height: 158px; border:1px solid #666666;}
.notiBox2 a:before { content:""; display: block;}
.notiBox3 {border: 1px solid #666666; overflow: hidden;}
.notiBox3 a:before {content:""; display: block; width: 283px;height: 222px; background-color: #d5edff; transition: 0.3s; position: absolute; top: 0; left: -285px; z-index: -1;}
.notiBox3 a:hover::before { left: 0;}
.row.two .col3.last {background-color: #e4edf0; height: 158px;}
.notiBox4 {padding: 35px;}
.notiBox4 .notiTit {height: auto;}
.snsLst {margin: 0; padding: 0;}
.snsLst li {margin-top: 30px; float:left; width: 50px; box-sizing: border-box;}
.snsTit {font-size: 14px; font-weight: 500;}
.notiTit2 {font-size: 20px;}


#ft {clear: both; width: 100%; height: auto; margin-top: 20px; padding-top: 20px; }
.ftWrap {clear: both; width: 100%; height: 100px;}
.ftWrap.first {height: 120px; background:#1a1a1a; }
/*border-top:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4;*/


#relNav {width: 1200px; margin: 0 auto; background-position: center center;}
#relNav ul {clear: both; margin: 0; padding: 0;}
#relNav .col2 {width: 200px; float: left; height: 120px; overflow: hidden; box-sizing: border-box;}
#relNav .col2 a {display: block; height: 120px;}
.bgIcon {background-size: 80px auto; background-position: center center; background-repeat: no-repeat; color: #fff; text-align: center; }

#relNav .col2 a.item1 {height: 90px; background-image: url("./cj/img/index/logo_foo.png"); padding-top: 0px; background-position:center 10px;}
#relNav .col2 .bgTxt {font-size: 16px; color: #ffffff; text-align: center;}

#relNav .col2 a.item2 {background-image: url("./img/index/brand_alaska.png");}
#relNav .col2 a.item3 {background-image: url("./img/index/brand_beksul.png")}
#relNav .col2 a.item4 {background-image: url("./img/index/brand_bibigo.png")}
#relNav .col2 a.item5 {background-image: url("./img/index/brand_bio.png")}
#relNav .col2 a.item6 {background-image: url("./img/index/brand_cafetheplace.png")}

#ftArea {width: 1280px; margin: 0 auto;}
.copyright {width: 100%; float:left; font-size: 0.8em; line-height: 1.6; padding-top: 35px; color:#666;}
.ftLink {width: 28%; float: right; font-weight:300; padding-top: 45px;}
.ftLink ul {margin: 0; padding: 0;}
.ftLink li {float: left;}
.ftLink li a {color:#999; padding: 6px; font-size: 0.8em;}
.ftLink li a.item1 {border-radius: 40px; border:1px solid #666; color: #666; padding-left: 10px; padding-right: 10px;}




