@charset "uft-8";

* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; font-family: 'Muli', 'Gothic A1', sans-serif; position: relative; overflow-y: hidden;}
ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
input, button {background: transparent; outline: 0; border: 0; display: none; }


/*  로딩 애니메이션  */
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
    transition: all 1s;
}

.loading h4 {
    position: absolute;
    width: 500px;
    height: 500px;
    text-align: center;
    top: 43%;
    left: 38%;
    color: #0000bb;
    letter-spacing: 4px;
    font-size: 1.2em;
}

.loading .loading-box:before{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 0, .5);
    top: 0px;
    left: -25px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.loading .loading-box {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 45%;
    left: 50%;
    border-radius: 20px;
    background-color: #fff;
    transform-origin:  50% 50%;
    animation: loading 1s ease-in-out infinite;
}

.loading .loading-box:after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 255, .5);
    top: 0px;
    left: 25px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.loading.end {
    opacity: 0;
    z-index: -1;
}

@keyframes loading {
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}

.container{ width: 100%; height: 100%; background: url("../img/portfolio_visual_bg.png"); background-size: cover; overflow: hidden;}

/* 로고 */
.icon {
    display: block;
    position: fixed;
    z-index: 900;
    top: 6%;
    left: 9%;
    width: 70px;
    height: 76px;
    background: url("../img/logo.png");
    background-size: 70px 76px;
    background-repeat: no-repeat;
    
}
.dummy {
    width: 100%; display: 
    -webkit-flex; display: 
    -ms-flex; display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between; 
    padding: 20px 20px 0 20px; 
    height: 15vh;
}
.dummy__icon {
    width: calc(10vw - 20px); 
    top: 7%; 
    color: #b0b0b1;
}


/* 햄버거 토글 */
.list {
    position: absolute; 
    z-index: 9000; 
    top: 8%; 
    left: 11%;
    width: calc(10vw - 20px); 
}
.list .line{
  width: 25px;
  height: 2px;
  background-color: #0014ff;
  display: block;
  margin: 7.1px auto;
  transition: all 0.3s ease-in-out;
}
.list:hover{
  cursor: pointer;
}
#list_id.is-active{
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
#list_id.is-active .line:nth-child(2){
  width: 0px;
}
#list_id.is-active .line:nth-child(1),
#list_id.is-active .line:nth-child(3){
  transition-delay: 0.3s;
}
#list_id.is-active .line:nth-child(1){
  transform: translateY(9px);
  background-color: blue;
}
#list_id.is-active .line:nth-child(3){
  transform: translateY(-9px) rotate(90deg);
  background-color: blue;
}


/* desk 메뉴 시작 */
ul, h2, p {
    margin: 0; 
    padding: 0;
}
.gnb {
    width: 100%; 
    height: 100%; 
    background:rgba(18, 18, 18, 0.9); 
    position: fixed; 
    top: -100%; 
    left: 0; 
    z-index: 100; 
    transition: 0.8s; 
    visibility: hidden;
}
.gnb_wrap { 
    clear:both; 
    width: 700px; 
    height: 500px; 
    position:relative; 
    left: calc((100% - 700px) / 2 ); 
    top: 25%;
}
.gnb .menu {
    width: 650px; 
    height: 400px; 
    position: absolute; 
    z-index: 5; 
    background: #0014ff;
    top: 0;
    animation: menu 1.5s; 
    animation-timing-function: linear;
}

@keyframes menu {
    0% {left: -50%;}
    100% {left: calc((100% - 650px) / 2)}
}
.gnb .profile {
    position: absolute; 
    z-index: 6;
    width: 300px;
    height: 350px;
    background-image: url(../img/profile.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    right: 0; 
    top: 3vh; 
    animation: prof 1s linear ;
    animation-delay: 0.5s;
}

@keyframes prof {
    0% {right: -50%;}
    100% {right: 0;}
}

.gnb .menu li {
    float: left;
    color:#fff; 
    margin-right: 10px;
}
.gnb .menu li:nth-child(2) {
    float: left;
}
.gnb .menu li:nth-child(3) {
    float: left;
}
.gnb .menu .menu_box > li a {
    display: block;
    color: yellow; 
    font-weight: bold;
}
.gnb .menu .menu_box > li a:hover {
    text-decoration:line-through;
}
.gnb .menu_box {
    width: 210%; 
    height: 100%; 
    overflow: hidden; 
    margin: 30px;
}
.gnb .menu_box h2:nth-child(1) {
    letter-spacing: 5px; 
    text-align: left; 
    font-weight: 300;
}
.gnb .menu_box h2:nth-child(2) {
    letter-spacing: 3px; 
    text-align: left; 
    font-weight: 300;
}
.gnb .menu_box h2:nth-child(2) .point {
    color: yellow; 
}
.gnb .menu_box p.contact {
    font-size: 0.6em; 
    letter-spacing: 2px; 
    line-height: 2; 
    text-align: left;
}
.gnb .menu_box p.barcode {
    position: absolute;
    bottom: 15px; 
    font-family: 'Libre Barcode 39', cursive; 
    font-weight: 400; 
    font-size: 3.5em; 
    line-height: 2.5vh;
}
.gnb .menu_box li.menu_con_wrap {
    margin-top: 30px;
}
.gnb .menu_con1 {
    clear: both; 
}
.gnb .menu_con1 li a { 
    color: yellow; 
    font-weight: bold;
}
.gnb .menu_con1 .sub > li.lst1 { 
    float: left;
    line-height: 2;
    font-weight: 300;
}
.gnb .menu_con1 .sub > li.lst1:hover { 
    text-decoration: line-through;
}
.gnb .menu_con1 .sub > li a { 
    display: block;
    font-size: 0.8em; 
    color: #fff;
}
.gnb .menu_con2 {
    clear: both;
}
.gnb .menu_con2 li a {
    color: yellow; 
    font-weight: bold;
}
.gnb .menu_con2 li a:hover {
    text-decoration: line-through;
}
#ck1:checked ~ .gnb {
    top: 0; 
    visibility: visible;
}

.navmenu {
    width: 600px; 
    position: relative; 
    float: left;
}
.navmenu li {
    float: left;
    margin-right: 15%;
}
.navmenu li a {
    display: block; 
    color: #333;
}
.navmenu li a:hover {
    text-decoration: line-through; 
    text-decoration-color: blue;
}


/* mobile 메뉴*/

.gnb_mo { 
    position: fixed; 
    width: 100%; 
    min-height: 100%; 
    top: -100%; 
    left: 0; 
    transition: 0.5s; 
    z-index: 999; 
    visibility: hidden; 
    background: #e8e8ec; 
    border: 10px solid #fff; 
    font-family: 'Permanent Marker', cusrive; }
.gnb_mo_menu {
    width: 80%; 
    min-height: 100%; 
    margin: 25vh auto;
}
.gnb_mo_menu li {
    line-height: 2;
}
.gnb_mo_menu li a {
    display: block; 
    text-align: center; 
    font-size: 1.8em; 
    letter-spacing: 2px; 
    color: #333; 
    transition: 0.4s;  
}
.gnb_mo_menu li a:hover {
    text-decoration: line-through blue; 
}
#ck1:checked ~ .gnb_mo {
    top: 0; 
    visibility: visible;
}



/* --------- 여기까지 공통 CSS --------- */
.contents {width: 100%; float: left; margin-left:10%; overflow: hidden; }
.port_wrap {width: 100%; height: 100%; }
#responsive {position: relative; width: 100%; margin: 0 auto; }
#desk {position: relative; width: 100%; margin: 0 auto; }
#mobile { position: relative; width: 100%; margin: 0 auto; }

/* 웹사이트 종류별 메뉴버튼 */
.nav_menu {position: absolute; top: 8%; left: 20%; width: 500px; }
/*.nav_menu3 {text-align: center;}*/
.nav_menu li {float: left; width: 23%; height: 40px; line-height: 40px; background: blue; text-align: center;}
.nav_menu li:hover {background:rgba(255,255,255,0.8);}
.nav_menu li:hover a {color: blue;}
.nav_menu li a {position: relative; display: inline-block; color: #fff; line-height: 1.3; font-size: 0.8em;}
.nav_menu3 li.on { background-color:#fff; }
.nav_menu3 li.on a {color: blue;}

::-webkit-scrollbar {display:none;}
.mask_wrap { }
.port_wrap > img {position: fixed; display: block; width: 70px; top: 45%; left: 2%; animation: scroll 3s ease-in infinite; z-index: 99;}

@keyframes scroll {
    0% {transform: translate(0,0);}
    50% {transform: translate(30px,0);}
    100% {transform: translate(0,0);}
}

.mask {position: relative; width: 1200px; height: 679px; transform: matrix(1, 0, 0, 1, 0, 0); overflow:hidden; }
.mask_left {position: fixed; top: 0; left:0px; min-width: 18.5%; height: 100%; /*background-image: url("../img/portfolio_left_bg.png");*/ background-size: cover; z-index: 10; }
.mask_left .po_line {position: absolute; z-index: 3; top: 40%; left: 0; width: 400px; height: 5px; background: blue;}
.mask_left iframe {width: 100%; height: 100%; }

#responsive .img {position: relative; width: 4000px; height: 679px;  }
#responsive .img li {width: 1200px; height: 679px; float: left; margin-right: 1%; position:relative; }
#responsive .img li img {display: block; width: 1200px; height: 650px; box-shadow: 3px 5px 5px #bcbcbc; }
#responsive .img li .img_on { position: absolute; top: 0; left: 0; color: #fff; opacity: 0; visibility: hidden; transition: 0.8s;  box-sizing:border-box;
 }
#responsive .img li .img_on h2, .img_on h6 {position: absolute; top: 25vh; left: 5%;}
#responsive .img li .img_on h2.po_title {top: 25vh;}
#responsive .img li .img_on h2.po_type {top: 28vh;}
#responsive .img li .img_on .po_level {top: 32vh; font-size: 0.7em;}
#responsive .img li:hover .img_on { opacity: 1; visibility: visible; }
#responsive .img li:first-child {width: 1200px; }

#desk .img {position: relative; width:4000px; height: 679px;  }
#desk .img li {width: 1200px; height: 679px; float: left; margin-right:1%; position: relative; }
#desk .img li img {display: block; width: 1200px; height: 650px; box-shadow: 3px 5px 5px #bcbcbc;}
#desk .img li .img_on {position: absolute; top: 0; left: 0; color: #fff; opacity: 0; visibility: hidden; transition: 0.8s; }
#desk .img li .img_on h2, .img_on h6 {position: absolute; top: 25vh; left: 5%;}
#desk .img li .img_on h2.po_title {top: 25vh;}
#desk .img li .img_on h2.po_type {top: 28vh;}
#desk .img li .img_on .po_level {top: 32vh; font-size: 0.7em;}
#desk .img li:hover .img_on { opacity: 1; visibility: visible;}
#desk .img li:first-child {width: 1200px; }

#mobile .img {position: relative; width: 4000px; height: 679px;  }
#mobile .img li {width: 1200px; height: 679px; float: left; margin-right:1%; position: relative; }
#mobile .img li img {display: block; width: 1200px; height: 650px; box-shadow: 3px 5px 5px #bcbcbc;}
#mobile .img li .img_on {position: absolute; top: 0; left: 0; color: #fff; opacity: 0; visibility: hidden; transition: 0.8s; }
#mobile .img li .img_on h2, .img_on h6 {position: absolute; top: 25vh; left: 5%;}
#mobile .img li .img_on h2.po_title {top: 25vh;}
#mobile .img li .img_on h2.po_type {top: 28vh;}
#mobile .img li .img_on .po_level {top: 32vh; font-size: 0.7em;}
#mobile .img li:hover .img_on { opacity: 1; visibility: visible;}
#mobile .img li:first-child {width: 1200px; }

.project.on {display: block;}
.project {display: none;}

.po_process {display: block; width: 200px; height: 40px; line-height: 40px; background: #fff; color: #333; text-align: center; position: absolute; top: 55%; left: 5%;  }
.po_process:hover {background: blue; color: #fff;}
.po_website {display: block; width: 200px; height: 40px; line-height: 40px; background: #fff; color: #333; text-align: center; position: absolute; top: 55%; left: 25%;  }
.po_website:hover {background: blue; color: #fff;}

.btnBox { position:fixed; width:100%; left: 3%; bottom: 3%; z-index:20; display: none;} 
.btnBox li { width: 30px; height: 30px; background:black; border-radius: 30px; }
.btnBox .prev { float:left; }
.btnBox .next { float: left; margin-left: 20px; }
.btnBox li .btn { display:block; width:30px; height:30px; background:transparent;  cursor:pointer; background-repeat:no-repeat; background-position:center; background-size: 50% 50%;  }
.btnBox .prev .btn { background-image:url("../img/arrowLeft1.png"); }
.btnBox .next .btn { background-image:url("../img/arrowRight1.png"); }


.ft {position: absolute; clear: both; width: 100%; bottom: 0;}
.copyright {text-align: center; line-height: 100px; color: #333}



/* 미디어 쿼리 */
@media screen and (min-width: 50em) {
	.actions { width: 14.5vw; margin: 2em 0 0 19vw; position: absolute; }
    .mobile {display: none;}
}
/* 모바일 iPhone 6/7/8 */
@media screen and (max-width: 50em) {
	.dummy {padding: 10px 15% 0 15%;}
	.dummy__icon {width: calc(10vw - 10px);}
    .desk {display: none; }
}

@media screen and (max-width:576px){
    .about_contact span:nth-child(2), .about_contact span:nth-child(3) {display: none;}
    .about_contact span:first-child {bottom: 0; font-size: 0.2em;}
    .contact_info {width: 100%; height: 50%;}
    .contact_form {width: 100%; height: 50%;}
    .email_btn, .portfolio_btn {font-size: 1em;}
    .btn_box {margin: 0 auto;}
}