@charset "uft-8";

 * { margin: 0; padding: 0; }    
body, html { width: 100%; overflow-x: hidden; }
a { text-decoration:none; text-align: center;}
ul { list-style: none; }
input {display: none;}
button {background: transparent; border: 0; outline: 0;}
.container { width:100%; margin:0 auto; overflow-x: hidden; clear: both;}

.mo_hd {width: 100%; height: 80px; position: relative; clear: both;}
.logo {display: block; position: absolute; top: 17px; left: 20px; }
.desk {top: 0;}
.logo img {display: block; width: 180px;}


/* 메뉴 리스트 */
label.menuLst {right: 10px; top: 5px; clear: both; width: 40px; height: 40px; position: absolute; z-index: 999;}
.menuLst, .menuLst span {display: inline-block; transition: all .4s; box-sizing: border-box;}
.menuLst span {position: absolute; left: 0; width: 70%; height: 2px; background-color: #000; border-radius: 4px;}
.menuLst span:nth-of-type(1) {top: 17px;}
.menuLst span:nth-of-type(2) {top: 27px;}
.menuLst span:nth-of-type(3) {bottom: 0;}
#menu:checked ~ .menuLst span:nth-of-type(1) {
    -webkit-transform: translateY (10px) rotate (-45deg);
    transform: translateY(10px) rotate(-45deg); background-color: #000eba;}
#menu:checked ~ .menuLst span:nth-of-type(2) {opacity: 0;}
#menu:checked ~ .menuLst span:nth-of-type(3) {
    -webkit-transform: translateY(-11px) rotate(45deg);
    transform: translateY(-11px) rotate(45deg); background-color: #000eba;}

#menu:checked ~ #nav { right: 0; display: block; } 

/* sub 메뉴 열었을 때 */
#nav {position: fixed; width: 100%; min-height: 1800px; right: -100%; transition: 0.5s; z-index: 31; background:rgba(255,255,255,10); }
#nav_top {width: 100%;}
#nav_top .sub {width: 100%; margin-top: 30vh; position: absolute; z-index: 100; background: #fff;}
#nav_top .menu1 > a {display: block; text-align: center; text-decoration: none; color: #333; line-height: 2.7; font-weight: bold; font-size: 5vw;}
#nav_top .submenu1 a {display: block; text-align: center; text-decoration: none; color: #333; line-height: 2.7; font-weight: bold; font-size: 3.5vw;}
#nav_top .sub li a:hover {color: #000eba;}
[class*=nav_line] {width: 600px; height: 100px; left: 0; bottom: 0; }
.nav_line_top:before {content: ''; position: absolute; display: block; width: 100%; height: 1px; background:#000eba; top: 75px; right: 0; transition-duration: 0.6s; transition-property: all; transition-timing-function: cubic-bezier(0,.4,.2,1); transition-delay: 0s;}
.nav_line_bottom:before {content: ''; position: absolute; display: block; width: 100%; height: 1px; background:#000eba; top: 95vh; right: 0; transition-duration: 0.6s; transition-property: all; transition-timing-function: cubic-bezier(0,.4,.2,1); transition-delay: 0s;}
.menu1 .mo_sub {display: none;}


/* 데스크탑 메뉴 시작 */
/* 메뉴 */
#desk_hd {width: 1400px; margin: 35px auto 0 ; position: relative; height: 80px; display: none; font-weight: 900;}
.logo {position: relative; float: left; padding-right: 50px; }
.gnb_left {float: left; width: 200px; height: 42px; line-height: 42px;}
.gnb_left li {float: left; width: 35%;}
.gnb_right {position: relative; float: right; width: 800px; height: 42px; line-height: 42px; margin-right: 50px;}
.gnb_right li.gnb1 {float: left; width: 20%; height: 50px; text-align: center;}
.gnb_right li a {}
[class*=gnb_] li a:hover {color: #bca78b;} 

/* 서브 메뉴 배경 */
/*.subBg {position: absolute; z-index: 2; width: 1200px; height: 390px; top: 79px; background: url("./img/nav_bg.jpg"); transition: 0.6s; visibility: hidden; opacity: 0;}*/

/* 서브메뉴 */
.gnb1 .sub {position: absolute; z-index: 999; text-align: center; clear: both; background: transparent; transition: 0.8s; visibility: hidden; opacity: 0; margin-top: 30px; }
/*.gnb1:first-child::before {content: ''; position: absolute; z-index: 10; width: 100%; height: 390px; left: -100px; top: 90px; background-image: url("./img/nav_bg.jpg"); background-size: cover;}*/
.gnb1 .sub li {clear: both; width: 150px;  }
.gnb1 .sub li:first-child {padding-top: 20px;}
.gnb1 .sub li a {color: #fff; font-size: 0.9em;}


/*.gnb_right:hover .subBg {visibility: visible; opacity: 1;}*/
#hd:hover .subBg {visibility: visible; opacity: 1;}
.gnb_right:hover .sub {visibility: visible; opacity: 0.6;}
.gnb_right li:hover .sub {opacity: 1;}

/* 여기까지 데스크탑 메뉴 */



.content { clear:both; position: relative; }

.vs { width:auto; margin:10px auto; padding:10px; }    
.vs img { display:block; width:100%; height:auto; }
.title { text-indent:1em; }    

.lst { clear:both; position:relative; padding-top:10px; height:auto; max-width:320px; margin:0 auto; }
.lst li { background-repeat:no-repeat; background-position:center center; background-size:cover; animation-name: ani; animation-duration: 1.3s; animation-delay: 0.2s; }
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8 { width: auto; height: 320px; top:auto; bottom:auto; left:auto; right:auto; position:relative; transition:0.6s; background:#f2f2f2; margin-top:10px; margin-bottom:10px; }
.item1 { background-image:url(./img/response_mobile_bg.jpg); }
.item2 { background-image:url(./img/men.jpg); }    
.item3 { background-image:url(./img/women.jpg); }    
.item4 { background-image:url(./img/kids.jpg); }
.item5 { background-image:url(./img/1105x622_ActivistCompany.jpg); }
.item6 { background-image:url(./img/bag.jpg); }
.item7 { background-image:url(./img/sutt01_01.jpg); }

@keyframes ani {
    from {width: 0%;}
    to {margin-top : 0;}
}


/*.item1 .itemBox a {display: block; width: 100%; height: 320px; cursor: pointer;} 비디오 */
/*
 박스마다 버튼 - 모바일용

.item1 {transition-duration: 0.5s; }
.item2 .itemBox { display: block; width: 180px; height: 50px; line-height: 50px; position: absolute; top: 130px; left: calc((100% - 180px) / 2); border: 1px solid #fff; font-weight: 800; font-size: 0.8vw; color: #fff;}
.item2 .itemBox:hover {background:rgba(0,0,0,0.6); color: #fff;}
.item3 .itemBox { display: block; width: 140px; height: 50px; line-height: 50px; position: absolute; top: 80px; left: calc((100% - 140px) / 2); border: 1px solid #fff; font-weight: 800; font-size: 0.7vw; color: #fff;}
.item3 .itemBox:hover {background:rgba(0,0,0,0.6); color: #fff;}
.item4 .itemBox { display: block; width: 120px; height: 50px; line-height: 50px; position: absolute; top: 200px; left: calc((100% - 120px) / 2); border: 1px solid #fff; font-weight: 800; font-size: 0.7vw; color: #fff;}
.item4 .itemBox:hover {background:rgba(0,0,0,0.6); color: #fff;}
.item6 .itemBox { display: block; width: 100px; height: 100px; line-height: 100px; position: absolute; top: 200px; left: calc((100% - 100px) / 2); border: 1px solid #fff; font-weight: 800; font-size: 0.8vw; color: #fff;}
.item6 .itemBox:hover {background:rgba(0,0,0,0.6); color: #fff;}
*/


.lstImg { display:block; width:90%; margin:10px auto; } 
.box { position:relative; }    
.container section h3 { line-height: 2.4; }    
.lstTit { width: 100px; height: 25px; line-height:1.3; font-size:1.2em; padding:0.6em; background: #000; color: #fff; text-align: center; position: absolute; top: 20px; left: 20px; }
.notiTit {font-size: 23px; text-indent: 15px; line-height: 2.6; font-weight: 600;}
.lstCom { position: absolute; padding-left: 0.8em; padding-right: 0.8em; }
.lstCom .ptit {display: block; width: 90%; color: #333; font-size: 25px; font-weight: bold; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: 2;}
.lstCom p {display: block; color: #333; font-size: 0.8em; font-weight: 300; line-height: 1.6; overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;  
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;}
.lstCom:hover p {color: #bca78b; }

/*데스크탑 푸터*/
#desk_footer { position: relative; clear:both; width:100%; height: 110px; color:#333; text-align:center; background: url("./img/footer_bg.png"); display: none;}
.ft_wrap {position: absolute; z-index: 2;}
.ft_top {padding-left: 30px;}
.ft_top li {float: left;}
.ft_top li a { display: block; color: #999; padding: 30px 0 10px 20px; text-align: center; font-size: 0.8em; }
.ft_top li a:after {content: '|'; color: #999; margin-left: 10px;}
.ft_top li:last-child a::after {content: '';}
.copyright {clear: both; text-align: left; font-size:0.7em; color: #999; padding-left: 50px; padding-bottom: 10px;}
.desk {display: none;}

/*모바일 푸터*/
#mo_footer {position: relative; clear:both; width:100%; height: 80px; color:#333; text-align:center; background: url("./img/footer_bg.png"); background-size: cover;}
.footer {position: absolute; bottom: 20%; left: 25%; font-size: 11px; color: #ccc;}


/* 탑 버튼*/
#upBtn { position:fixed; z-index:5; right: 8%; bottom:3%; opacity: 1; }
#upBtn:hover {opacity: 0.5;}

/* 비디오 */
#video {visibility: hidden; opacity: 0;}
#video video {display: block; position: fixed; top: 50px; left: 268px; height: 60%; width: 60%; }
#video:target {visibility: visible; opacity: 1;}
